services:
  - type: web
    name: arezzo-rag-chatbot-render
    env: python
    plan: free
    region: frankfurt

    buildCommand: pip install -r requirements.txt
    startCommand: python app.py

    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: PYTHON_VERSION
        value: 3.10
